* {
	box-sizing: border-box;
	/*display: none;*/
}

body {
	/*width: 100%;*/
}

.news_display {
	margin-bottom: 5%;
}

#news_img { 
	padding: 10% 10% 10% 10%;
}

#big_picture {
	margin: auto;
    width: 70%;
    /*padding: 10px;*/
/*float: center;
width: 70%;*/
}
