* {
	box-sizing: border-box;
	
}

.news_display {
	margin-bottom: 5%;
}

#news_img { 
	padding: 10% 10% 10% 10%;
}

#news_img:hover { 
	opacity: 0.8;
}

#big_picture {
	margin: auto;
    width: 70%;
}

#searchBox {
	margin: 3%;
	width: 100%;
}

#inputBox {
	width: 40%;
	height: auto;
}
.searchRs {
	padding: 30px 30px 30px 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	width: 50%;
	display: none;
	padding: 10px 10px 10px 10px;
	position: absolute;
    background-color: #A9A9A9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;	
}

.dropdown:hover .dropdown-content {
	display: block;
}


.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
	background-color: red;
}