* {
	box-sizing: border-box;
	/*display: none;*/
}

.news_display {
	margin-bottom: 5%;
}

#news_img { 
	padding: 10% 10% 10% 10%;
}

#big_picture {
	margin: auto;
    width: 70%;
}

#searchBox {
	width: 30%;
}

.searchRs {

}
